<%- include('partials/html-header'); -%>
<%- include('partials/header') -%>

<p id="idContainer" class="hidden"><%= validIDs %></p>

<div class="code-input-wrapper">
    <div class="form-group">
        <input type="text" class="form-control form-control-lg" id="code-input" aria-describedby="code-help">
        <small id="code-help" class="form-text text-muted">Geben Sie hier Ihren Umfragecode ein</small>
    </div>
    <div class="btn-wrapper">
        <button id="survey-button" class="btn btn-secondary-color btn-lg">Zur Umfrage &gt</button>
    </div>
    <a href="" id="survey-link" class="hidden"></a>
</div>

<%- include('partials/footer') -%>
<%- include('partials/html-close') -%>

<script type="module" src="/js/index.js"></script>