<%- include('partials/html-header'); -%>
<%- include('partials/header') -%>

<!-- status bar -->
<div class="status-bar-wrapper">
    <div id="status-bar">
        <div class="status-wrapper">
            <div class="status-connection-wrapper">
                <div class="status-connection-filler"></div>
                <div class="status-circle">
                    <div class="status-inner-circle hidden">
                        <div class="status-inner-inner-circle"></div>
                    </div>
                </div>
                <div class="status-connection"></div>
            </div>
        </div>
        <div class="status-wrapper">
            <div class="status-connection-wrapper">
                <div class="status-connection"></div>
                <div class="status-circle">
                    <div class="status-inner-circle hidden">
                        <div class="status-inner-inner-circle"></div>
                    </div>
                </div>
                <div class="status-connection"></div>
            </div>
        </div>
        <div class="status-wrapper">
            <div class="status-connection-wrapper">
                <div class="status-connection"></div>
                <div class="status-circle">
                    <div class="status-inner-circle hidden">
                        <div class="status-inner-inner-circle"></div>
                    </div>
                </div>
                <div class="status-connection"></div>
            </div>
        </div>
        <div class="status-wrapper">
            <div class="status-connection-wrapper">
                <div class="status-connection"></div>
                <div class="status-circle">
                    <div class="status-inner-circle hidden">
                        <div class="status-inner-inner-circle"></div>
                    </div>
                </div>
                <div class="status-connection-filler"></div>
            </div>
        </div>
    </div>

    <div id="status-bar-stages">
        <div class="stage">
            <div class="stage-text hidden">Bearbeitung</div>
        </div>
        <div class="stage">
            <div class="stage-text hidden">Evaluation</div>
        </div>
        <div class="stage">
            <div class="stage-text hidden">Diskussion</div>
        </div>
        <div class="stage">
            <div class="stage-text hidden">Lösung</div>
        </div>
    </div>

    <div class="type-display-wrapper">
        <i class="material-icons type-icon"></i>
        <div class="type-display"></div>
    </div>
</div>

<div class="content-area">

    <div id="cards-container"></div>

    <!-- controls for controlling survey-cards -->

    <button id="controls-prev" class="btn btn-primary-color controls shadow-strong"><i
            class="material-icons">arrow_back</i></button>
    <button id="controls-next" class="btn btn-primary-color controls shadow-strong"><i
            class="material-icons">arrow_forward</i></button>

    <div class="controls-correctness-wrapper">
        <div class="btn-wrapper">
            <button id="controls-correct" class="btn btn-correct controls controls-correctness shadow-strong">
                <i class="material-icons md-light">done</i>
            </button>
        </div>

        <div class="btn-wrapper">
            <button id="controls-incorrect" class="btn btn-incorrect controls controls-correctness shadow-strong">
                <i class="material-icons md-light">clear</i>
            </button>
        </div>
    </div>

    <div class="controls-submission-wrapper">
        <button id="controls-submit" class="btn btn-primary-color controls shadow-strong">Abgeben</button>
    </div>


    <!-- task templates -->

    <!-- partial for waiting view -->
    <%- include('partials/survey-viewer/wait-phase') -%>

    <!-- partials for syntax-highlighting tasks -->
    <%- include('partials/survey-viewer/syntax-highlighting-solve') -%>
    <%- include('partials/survey-viewer/syntax-highlighting-evaluate') -%>
    <%- include('partials/survey-viewer/syntax-highlighting-discussion') -%>
    <%- include('partials/survey-viewer/syntax-highlighting-reveal') -%>

    <!-- partials for type-determination tasks -->
    <%- include('partials/survey-viewer/type-determination-solve') -%>
    <%- include('partials/survey-viewer/type-determination-evaluate') -%>
    <%- include('partials/survey-viewer/type-determination-discussion') -%>
    <%- include('partials/survey-viewer/type-determination-reveal') -%>

    <!-- partials for microtasks -->
    <%- include('partials/survey-viewer/microtask-solve') -%>
    <%- include('partials/survey-viewer/microtask-evaluate') -%>
    <%- include('partials/survey-viewer/microtask-discussion') -%>
    <%- include('partials/survey-viewer/microtask-reveal') -%>

</div>

<%- include('partials/html-close') -%>

<script type="module" src="/js/indexViewer.js"></script>

<!-- import codemirror -->
<script src="/lib/codemirror.js"></script>
<script src="/mode/clike/clike.js"></script>

<!-- import ejs -->
<script src="/ejs.js"></script>

<!-- import d3 -->
<script src="https://d3js.org/d3.v5.min.js"></script>