<%- include('partials/html-header'); -%>
<%- include('partials/header') -%>

<div class="content-area">
    <div class="view-wrapper">
        <div class="view-container">

            <!-- partials for syntax-highlighting tasks -->
            <%- include('partials/survey-viewer/syntax-highlighting-solve') -%>
            <%- include('partials/survey-viewer/syntax-highlighting-evaluate') -%>
            <%- include('partials/survey-viewer/syntax-highlighting-discussion') -%>
            <%- include('partials/survey-viewer/syntax-highlighting-reveal') -%>

            <!-- partials for type-determination tasks -->
            <%- include('partials/survey-viewer/type-determination-solve') -%>
            <%- include('partials/survey-viewer/type-determination-evaluate') -%>
            <%- include('partials/survey-viewer/type-determination-discussion') -%>
            <%- include('partials/survey-viewer/type-determination-reveal') -%>
        </div>
    </div>

    <!-- controls for controlling survey-cards -->

    <button class="btn btn-secondary-color controls controls-prev shadow-strong">&lt</button>
    <button class="btn btn-secondary-color controls controls-next shadow-strong">&gt</button>

    <div class="controls-correctness-wrapper">
        <button class="btn btn-correct controls controls-correctness controls-correct shadow-strong">
            <i class="material-icons">done</i>
        </button>
        <button class="btn btn-incorrect controls controls-correctness controls-incorrect shadow-strong">
            <i class="material-icons md-light">clear</i>
        </button>
    </div>

    <div class="controls-submission-wrapper">
        <button class="btn btn-secondary-color controls controls-submit shadow-strong">Abgeben</button>
    </div>

</div>

<%- include('partials/html-close') -%>

<script type="module" src="/js/indexViewer.js"></script>
<script src="/lib/codemirror.js"></script>
<script src="/mode/clike/clike.js"></script>